{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "next"
  ],
  "rules": {
    "react/function-component-definition": 0,
    "linebreak-style": 0,
    "quotes": "off",
    "@typescript-eslint/quotes": [
      "error",
      "double"
    ],
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": [
      "error",
      "never"
    ],
    "dot-notation": "off",
    "@typescript-eslint/dot-notation": 0,
    "lines-between-class-members": "off",
    "@typescript-eslint/lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": 1,
    "max-len": [
      "error",
      {
        "code": 130
      }
    ]
  }
}